<!DOCTYPE html>
<html>

<head>
  <title> Register </title>
</head>

<body>
  <br>
  <center>
  <form action="/authR" method="POST">
    Username:
    <input type="text" name="username">
    <br>
    Password:
    <input type="text" name="password">
    <br> <br>
    <input type="submit" name="submit">
  </form>
  <br> <br>
  Already a member?
  <form action="/login" method="POST">
    <input type="submit" name="submit2" value="Log in">
  </form>
  <br> <br>
  {{message}}
  </center>
</body>

</html>
